* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND */
body {
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: url("bg.jpg") center/cover no-repeat fixed;
  overflow: hidden;
}

/* FULL SCREEN */
.screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* START TEXT */
.glow-text {
  font-size: 3rem;
  color: #ff4d6d;
  cursor: pointer;
  text-shadow: 0 0 20px #ff4d6d;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  50% { transform: scale(1.05); opacity: .7; }
}

/* OVERLAY TEXT */
#overlayText {
  position: absolute;
  top: 6%;
  right: 6%;
  font-size: 2rem;
  opacity: 0;
  color: white;
  z-index: 10;
  transition: opacity 1.5s;
}

/* SLIDESHOW */
.image-frame {
  width: 70vw;
  height: 70vh;
}

#slideImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 2s;
}

/* BLACK SCREEN */
#blackScreen {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  z-index: 20;
  transition: opacity 1s;
}

/* PENGUINS */
#penguinCouple {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 260px;
  transform: translateX(-50%) scale(.9);
  opacity: 0;
  z-index: 30;
  transition: 1.5s;
}

#penguinCouple.hug {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/* HEARTS */
#heartsContainer span {
  position: absolute;
  bottom: -30px;
  font-size: 24px;
  cursor: pointer;
  left: var(--x);
  animation: floatUp var(--d) linear infinite;
  z-index: 25;
}

@keyframes floatUp {
  to { transform: translateY(-110vh); opacity: 0; }
}

/* QUESTION */
#valentineBoard {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 25px;
  border-radius: 20px;
  display: none;
  z-index: 40;
  text-align: center;
}

/* FINAL MESSAGE */
#finalMessage {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* ENVELOPE */
.envelope {
  width: 300px;
  height: 200px;
  background: #ffccd5;
  position: relative;
  overflow: hidden;
}

.flap {
  position: absolute;
  inset: 0;
  background: #ff4d6d;
  clip-path: polygon(0 0,100% 0,50% 50%);
  transform-origin: top;
  transition: 1s;
}

.letter {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.envelope.open .flap {
  transform: rotateX(180deg);
}

.envelope.open .letter {
  bottom: 0;
}